.fav__page#newYear2024
  .popup._hidden
    .prize-fund
      .prize-fund__container
        .prize-fund__wrap
          .prize-fund-close
          .prize-fund__title(data-translate='prizeTitle')
          .prize-fund__table
            .prize-fund__table-head
              .prize-fund__table-head-list
                .prize-fund__table-head-col(data-translate='tableHeadPlace')
                .prize-fund__table-head-col(data-translate='tableHeadPrize')
            .prize-fund__table-body
              .prize-fund__table-row
                .prize-fund__table-body-col(data-translate="prize_1-range")
                .prize-fund__table-body-col(data-translate='prize_1')
              .prize-fund__table-row
                .prize-fund__table-body-col(data-translate="prize_2-range")
                .prize-fund__table-body-col(data-translate='prize_2')
              .prize-fund__table-row
                .prize-fund__table-body-col(data-translate="prize_3-range")
                .prize-fund__table-body-col(data-translate='prize_3')
              .prize-fund__table-row
                .prize-fund__table-body-col(data-translate="prize_4-range")
                .prize-fund__table-body-col(data-translate='prize_4')
              .prize-fund__table-row
                .prize-fund__table-body-col(data-translate="prize_5-range")
                .prize-fund__table-body-col(data-translate='prize_5')
              .prize-fund__table-row
                .prize-fund__table-body-col(data-translate="prize_6-range")
                .prize-fund__table-body-col(data-translate='prize_6')
  .welcome
    .welcome__container
      .welcome__title
        .welcome__title-bottom
          picture
            source(media="(min-width: 1025px) " srcset="./img/welcome/welcome-title-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/welcome/welcome-title-tab.png")
            source(media="(max-width: 550px)" srcset="./img/welcome/welcome-title-mob.png")
            img(src="./img/welcome/welcome-title-desc.png" alt="Favbet")
      .welcome__wrap
        .welcome__ball
          .welcome__ball-img
            picture
              source(media="(min-width: 1025px) " srcset="./img/welcome/ball-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/welcome/ball-tab.png")
              source(media="(max-width: 550px)" srcset="./img/welcome/ball-mob.png")
              img(src="./img/welcome/ball-desc.png" alt="Favbet")
          .salut.salut-one
          .salut.salut-two
          .salut.salut-three
          .salut.salut-fourth
        .welcome__sam
          .welcome__sam-img
            picture
              source(media="(min-width: 1025px) " srcset="./img/welcome/sam-welcome-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/welcome/sam-welcome-tab.png")
              source(media="(max-width: 550px)" srcset="./img/welcome/sam-welcome-mob.png")
              img(src="./img/welcome/sam-welcome-desc.png" alt="Favbet")
          .welcome__sam-text
            .welcome__sam-text-wrap(data-translate='welcomeSamTxt')
      .welcome__info
        a(href="/login/" role="button" data-translate="loginBtn").welcome__btn.custom-btn.unauth-msg
        .welcome__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn")
        a(href="/casino/nypromosem/" role="button" data-translate="playBtn").welcome__btn.custom-btn.took-part.hide
        .welcome__date(data-translate='promoDate')
        .welcome__text(data-translate='welcomeTxt')
  .rules
    .rules__container
      .rules__subtitle(data-translate='rulesTitle')
      .rules__text(data-translate='rulesTxt')
      .rules__list
        .rules__item
          .rules__item-wrap
            .rules__item-img
              picture
                source(media="(min-width: 1025px) " srcset="./img/rules/rules-ball1-desc.png")
                source(media="(max-width: 1024px)" srcset="./img/rules/rules-ball1-mob.png")
                img(src="./img/rules/rules-ball1-desc.png" alt="Favbet")
            .rules__item-title(data-translate='rulesTitle-1')
          .rules__item-text(data-translate='rulesTxt-1')
        .rules__item
          .rules__item-wrap
            .rules__item-img
              picture
                source(media="(min-width: 1025px) " srcset="./img/rules/rules-ball2-desc.png")
                source(media="(max-width: 1024px)" srcset="./img/rules/rules-ball2-mob.png")
                img(src="./img/rules/rules-ball2-desc.png" alt="Favbet")
            .rules__item-title(data-translate='rulesTitle-2')
          .rules__item-text(data-translate='rulesTxt-2')
        .rules__item
          .rules__item-wrap
            .rules__item-img
              picture
                source(media="(min-width: 1025px) " srcset="./img/rules/rules-ball3-desc.png")
                source(media="(max-width: 1024px)" srcset="./img/rules/rules-ball3-mob.png")
                img(src="./img/rules/rules-ball3-desc.png" alt="Favbet")
            .rules__item-title(data-translate='rulesTitle-3')
          .rules__item-text(data-translate='rulesTxt-3')
      a(href="/login/" role="button" data-translate="loginBtn").rules__btn.custom-btn.unauth-msg
      .rules__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn")
      a(href="/casino/nypromosem/" role="button" data-translate="playBtn").rules__btn.custom-btn.took-part.hide
      details.custom-drop.rules__drop
        summary.custom-drop-title #[span(data-translate="rulesDropTitle") ] <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M2 8.5321L12 16.6172L22 8.53211" stroke="white" stroke-width="3"/></svg>
        .custom-drop-txt
          .custom-drop-txt-wrap(data-translate="rulesDropTxt")
  .info
    .info__container
      .info__row.info__row-one
        .info__image
          picture
            source(media="(min-width: 1025px) " srcset="./img/info/sam-one-info-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/info/sam-one-info-tab.png")
            source(media="(max-width: 550px)" srcset="./img/info/sam-one-info-mob.png")
            img(src="./img/info/sam-one-info-desc.png" alt="Favbet")
        .info__wrap
          .info__title(data-translate="casinoTitle")
          .info__text(data-translate="casinoTxt-1")
          .info__list
            .info__item(data-translate="casinoTxt-2")
            .info__item(data-translate="casinoTxt-3")
            .info__item(data-translate="casinoTxt-4")
          a(href="/login/" role="button" data-translate="loginBtn").info__btn.custom-btn.unauth-msg
          .info__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn")
          a(href="/casino/nypromosem/" role="button" data-translate="playBtn").info__btn.custom-btn.took-part.hide
      .info__row.info__row-two
        .info__wrap
          .info__title(data-translate="sportTitle")
          .info__list
            .info__item(data-translate="sportTxt-1")
            .info__item(data-translate="sportTxt-2")
            .info__item(data-translate="sportTxt-3")
          a(href="/login/" role="button" data-translate="loginBtn").info__btn.custom-btn.unauth-msg 
          .info__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn") 
          a(href="/sports/sport/soccer/" role="button" data-translate="playBtn").info__btn.custom-btn.took-part.hide
        .info__image
          picture
            source(media="(min-width: 1025px) " srcset="./img/info/sam-two-info-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/info/sam-two-info-tab.png")
            source(media="(max-width: 550px)" srcset="./img/info/sam-two-info-mob.png")
            img(src="./img/info/sam-two-info-desc.png" alt="Favbet")
  .result
    .result__container
      .result__title(data-translate='resultTitle')
      .result__text(data-translate='resultTxt')
      .result__subtext(data-translate='prizeTitle')
      .tableResults
        .tableResults__tabs
          .tableResults__tabs-item.active #[span(data-translate="week")] #[span 1]
          .tableResults__tabs-item #[span(data-translate="week")] #[span 2]
          .tableResults__tabs-item #[span(data-translate="week")] #[span 3]
          .tableResults__tabs-item #[span(data-translate="week")] #[span 4]
        .tableResults__container
          .tableResults__wrap#results-table
            .tableResults__head
              .tableResults__head-list
                .tableResults__head-col(data-translate='tableHeadPlace')
                .tableResults__head-col(data-translate='tableHeadID')
                .tableResults__head-col(data-translate='tableHeadPoints')
                .tableResults__head-col(data-translate='tableHeadPrize')
            .tableResults__body#top-users
            .tableResults__body-other
      a(href="/login/" role="button" data-translate="loginBtn").result__btn.custom-btn.unauth-msg 
      .result__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn") 
      a(href="/casino/nypromosem/" role="button" data-translate="playBtn").result__btn.custom-btn.took-part.hide
  .game
    .game__container
      .game__title(data-translate="gameTitle")
      .game__house.week1
        .game__list.week1
          .game__list-title
            picture.uk
              source(media="(min-width: 1025px) " srcset="./img/games/firstWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/firstWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/firstWeek-mob.png")
              img(src="./img/games/firstWeek-desc.png" alt="Favbet")
            picture.en
              source(media="(min-width: 1025px) " srcset="./img/games/firstWeek-desc-en.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/firstWeek-tab-en.png")
              source(media="(max-width: 550px)" srcset="./img/games/firstWeek-mob-en.png")
              img(src="./img/games/firstWeek-desc-en.png" alt="Favbet")
          a(href='/casino/pragmatic-play/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game1-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game1-mob.png")
              img(src="./img/games/week1/game1-desc.png" alt="Favbet")
          a(href='/casino/playn-go/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game2-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game2-mob.png")
              img(src="./img/games/week1/game2-desc.png" alt="Favbet")
          a(href='/casino/amatic/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game3-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game3-mob.png")
              img(src="./img/games/week1/game3-desc.png" alt="Favbet")
          a(href='/casino/netent/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game4-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game4-mob.png")
              img(src="./img/games/week1/game4-desc.png" alt="Favbet")
          a(href='/casino/chilli-games/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game5-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game5-mob.png")
              img(src="./img/games/week1/game5-desc.png" alt="Favbet")
          a(href='/casino/endorphina/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game6-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game6-mob.png")
              img(src="./img/games/week1/game6-desc.png" alt="Favbet")
          a(href='/casino/egtdigital/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game7-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game7-mob.png")
              img(src="./img/games/week1/game7-desc.png" alt="Favbet")
          a(href='/casino/platipus/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game8-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game8-mob.png")
              img(src="./img/games/week1/game8-desc.png" alt="Favbet")
        .game__list.week2
          .game__list-title
            picture.uk
              source(media="(min-width: 1025px) " srcset="./img/games/secondWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/secondWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/secondWeek-mob.png")
              img(src="./img/games/secondWeek-desc.png" alt="Favbet")
            picture.en
              source(media="(min-width: 1025px) " srcset="./img/games/secondWeek-desc-en.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/secondWeek-tab-en.png")
              source(media="(max-width: 550px)" srcset="./img/games/secondWeek-mob-en.png")
              img(src="./img/games/secondWeek-desc-en.png" alt="Favbet")
          a(href='/casino/amusnet-interactive/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game1-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game1-mob.png")
              img(src="./img/games/week2/game1-desc.png" alt="Favbet")
          a(href='/casino/playson/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game2-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game2-mob.png")
              img(src="./img/games/week2/game2-desc.png" alt="Favbet")
          a(href='/casino/ct-interactive/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game3-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game3-mob.png")
              img(src="./img/games/week2/game3-desc.png" alt="Favbet")
          a(href='/casino/gamomat/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game4-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game4-mob.png")
              img(src="./img/games/week2/game4-desc.png" alt="Favbet")
          a(href='/casino/fazi/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game5-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game5-mob.png")
              img(src="./img/games/week2/game5-desc.png" alt="Favbet")
          a(href='/casino/hacksaw/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game6-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game6-mob.png")
              img(src="./img/games/week2/game6-desc.png" alt="Favbet")
          a(href='/casino/endorphina/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game7-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game7-mob.png")
              img(src="./img/games/week2/game7-desc.png" alt="Favbet")
          a(href='/casino/atomic-slot-lab/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game8-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game8-mob.png")
              img(src="./img/games/week2/game8-desc.png" alt="Favbet")
        .game__list.week3
          .game__list-title
            picture.uk
              source(media="(min-width: 1025px) " srcset="./img/games/thirdWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/thirdWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/thirdWeek-mob.png")
              img(src="./img/games/thirdWeek-desc.png" alt="Favbet")
            picture.en
              source(media="(min-width: 1025px) " srcset="./img/games/thirdWeek-desc-en.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/thirdWeek-tab-en.png")
              source(media="(max-width: 550px)" srcset="./img/games/thirdWeek-mob-en.png")
              img(src="./img/games/thirdWeek-desc-en.png" alt="Favbet")
          a(href='/casino/endorphina/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game1-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game1-mob.png")
              img(src="./img/games/week3/game1-desc.png" alt="Favbet")
          a(href='/casino/evoplay/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game2-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game2-mob.png")
              img(src="./img/games/week3/game2-desc.png" alt="Favbet")
          a(href='/casino/habanero/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game3-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game3-mob.png")
              img(src="./img/games/week3/game3-desc.png" alt="Favbet")
          a(href='/casino/oryx/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game4-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game4-mob.png")
              img(src="./img/games/week3/game4-desc.png" alt="Favbet")
          a(href='/casino/pragmatic-play/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game5-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game5-mob.png")
              img(src="./img/games/week3/game5-desc.png" alt="Favbet")
          a(href='/casino/blue-horn/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game6-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game6-mob.png")
              img(src="./img/games/week3/game6-desc.png" alt="Favbet")
          a(href='/casino/kalamba/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game7-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game7-mob.png")
              img(src="./img/games/week3/game7-desc.png" alt="Favbet")
          a(href='/casino/playson/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game8-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game8-mob.png")
              img(src="./img/games/week3/game8-desc.png" alt="Favbet")
        .game__list.week4
          .game__list-title
            picture.uk
              source(media="(min-width: 1025px) " srcset="./img/games/fourthWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/fourthWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/fourthWeek-mob.png")
              img(src="./img/games/fourthWeek-desc.png" alt="Favbet")
            picture.en
              source(media="(min-width: 1025px) " srcset="./img/games/fourthWeek-desc-en.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/fourthWeek-tab-en.png")
              source(media="(max-width: 550px)" srcset="./img/games/fourthWeek-mob-en.png")
              img(src="./img/games/fourthWeek-desc-en.png" alt="Favbet")
          a(href='/casino/egtdigital/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game1-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game1-mob.png")
              img(src="./img/games/week4/game1-desc.png" alt="Favbet")
          a(href='/casino/pragmatic-play/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game2-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game2-mob.png")
              img(src="./img/games/week4/game2-desc.png" alt="Favbet")
          a(href='/casino/platipus/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game3-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game3-mob.png")
              img(src="./img/games/week4/game3-desc.png" alt="Favbet")
          a(href='/casino/greentube/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game4-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game4-mob.png")
              img(src="./img/games/week4/game4-desc.png" alt="Favbet")
          a(href='/casino/kalamba/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game5-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game5-mob.png")
              img(src="./img/games/week4/game5-desc.png" alt="Favbet")
          a(href='/casino/playson/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game6-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game6-mob.png")
              img(src="./img/games/week4/game6-desc.png" alt="Favbet")
          a(href='/casino/synotgames/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game7-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game7-mob.png")
              img(src="./img/games/week4/game7-desc.png" alt="Favbet")
          a(href='/casino/bf-games/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game8-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game8-mob.png")
              img(src="./img/games/week4/game8-desc.png" alt="Favbet")
      a(href="/login/" role="button" data-translate="loginBtn").game__btn.custom-btn.unauth-msg 
      .game__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn")
      a(href="/casino/nypromosem/" role="button" data-translate="playBtn").game__btn.custom-btn.took-part.hide
      details.custom-drop.rules__drop
        summary.custom-drop-title #[span(data-translate="resultDropTitle") ] <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M2 8.5321L12 16.6172L22 8.53211" stroke="white" stroke-width="3"/></svg>
        .custom-drop-txt
          .custom-drop-txt-wrap(data-translate="resultDropTxt")
